body{
    background-color:rgb(132, 132, 179);;
    margin:0;
    padding:0;
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center; 
    text-align:center;
}


.container{
    border:2px solid black;
    margin:1rem;
    background-color:rgb(54, 54, 107);
    color:white;
    padding:1rem;
    overflow:none;
    border-radius:0.5rem;
    
}

.input-answer{
    display:block;
    width:100%;
    text-align:center;
    box-sizing:border-box;
    padding:1rem;
    
}

.input-answer::placeholder{
    color:lightgrey;
    
}

.button{
    margin-top:1rem;
    width:100%;
    background-color:rgb(15, 15, 19);
    border:2px solid rgb(54, 54, 105);
    color:white;
    padding:1rem;
    cursor:pointer;
    
    
}

.button:hover{
    background-color:rgb(41, 38, 38);
}
.score{
    text-align:right;
}