
body{
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:rgb(139, 176, 255);
}
  
.image-container{
    text-align:center;
}
  
.image-container img{
    margin:0.5rem;
    border-radius:0.5rem;
    background-color:lightgray;
}
  
.button{
    background-color:rgb(0, 0, 0);
    border:none;
    padding:1rem;
    margin:1rem;
    color:white;
    border-radius:0.5rem;
    cursor:pointer;
}
  
.button:hover{
    opacity:0.5;
}