body{
    margin:0;
    padding:0;
    background-color:black;
    overflow:hidden;
}
span{
    background:url("https://cdn3.iconfinder.com/data/icons/object-emoji/50/Heart-128.png");
    width:100px;
    height:100px;
    position:absolute;
    pointer-events: none;
    background-size:cover;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    animation:animate 6s linear;
}
@keyframes animate{
    0%{
        transform:translate(-50%, 50%);
        opacity:1;
        filter:hue-rotate(0);

    }
    100%{
        transform:translate(-50%,-5000%);
        opacity:0;
        filter:hue-rotate(720deg);
    }

}