body{
    margin: 0;
}
  
h1{
    text-align: center;
}
  
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.color-container {
    background-color: orange;
    width: 20rem;
    height: 10rem;
    color: white;
    margin: 5px;
    border: 2px solid black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}