body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
    background-color:blanchedalmond
}

.button{
    background-color:black;
    color:orangered;
    padding: 1rem 2rem;
    border-radius:0.25rem;
    text-decoration:none;
    position:relative;
    overflow:hidden;
    
}
span{
    position:relative;
    z-index:1;

}

.button::before{
    content:"";
    position:absolute;
    background-color:rgb(109, 106, 106);
    left:var(--xPos);
    top:var(--yPos);
    transform:translate(-50%, -50%);
    border-radius:50%;
    transition:width 0.5s height 0.5s;
    
    
}

.button:hover::before{
    width:8rem;
    height:8rem;
}