body{
    margin:0;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.4s;
}

.check-box{
    visibility:hidden;
}

.label{
    width:5rem;;
    height:2.5rem;;
    position:absolute;
    background-color:lightgray;
    border-radius:20px;
    cursor:pointer;
}

.circle{
    width:34px;
    background-color:white;
    height:34px;
    border-radius:50%;
    position:absolute;
    left:0.25rem;
    top:0.25rem;
    animation:toggleOff 0.4s linear forwards;
}

.input:checked+.label{
    background-color:white;
}

.input:checked +.label .circle {
    animation: toggleOn 0.4s linear forwards;
    background-color: black;
}

@keyframes toggleOn{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(2rem);
    }
}

@keyframes toggleOff{
    0% {
        transform:translateX(2rem);
    }
    100% {
        transform:translateX(0);
    }
}