body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(223, 203, 166);
    height:100vh;
}
.slider-container{
    position:relative;
    width:30rem;
    overflow:hidden;
    border-radius:0.5rem;

}
.image-container{
    display:flex;
    transition:transform 0.8s ease-in-out;
}
.button{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    color:white;
    opacity:0.5;
    cursor:pointer;
}
.button:hover{
    opacity:1;
}
.button.prev{
    left:10px;
}
  
.button.next{
    right:10px;
}
  
